* {
    padding: 0;
    margin: 0;
    font-family: consolas; 
  
}

h1 {
    text-align: center;
    
  }
  
  div.gallery {
    width: 180px;
    float: left;
    margin: 20px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px rgba(0,0,0, 0.4);
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    font-weight: bolder;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
  }
  


.container {
    height: 100%;
    margin-top: 8px;
    padding-top: 5px;
    background-color:#f0f2f5;
    margin-bottom: 20px;
}

.title {
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}

.brief-description {
    font-family: monospace;
    text-transform: capitalize;
}

.first {
    text-decoration: underline;
    font-weight: bolder;
}

h6 {
    font-weight: bold;
}

.sec {
    text-decoration: underline;
    font-weight: bolder;
    text-transform: uppercase;
}

.carousel-item img {
    padding: 30px;
    object-fit:cover;
    
}
